<h2>Editando comentario</h2>
<%= render "form", comment: @comment %>
<br>
<div>
  <%= link_to "Mostrar comentario", @comment, class: "btn btn-secondary btn-sm" %>
  <%= link_to "Inicio", reports_path, class: "btn btn-warning btn-sm" %>
</div>
