<h1 class='mt-1'>Comentarios</h1>
<div id="comments" class=' '>
  <% @comments.each do |comment| %>
    <p class='d-flex'>
      <%= render comment %> <%= link_to "Mostrar comentario", comment%>
    </p>
  <% end %>
</div>
