<%= render @comment %>
<div class='d-flex gap-1'>
  <%= link_to "Editar", edit_comment_path(@comment), class: "btn btn-secondary btn-sm" %>
  <%= button_to "Eliminar", @comment, class: "btn btn-danger btn-sm", method: :delete %>
  <%= link_to "Inicio", reports_path, class: "btn btn-warning btn-sm" %>
</div>
