<div id="<%= dom_id report %>">
  <p>
    <strong>Image:</strong>
    <%= report.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= report.description %>
  </p>

</div>
