<h1>Editando Noticia</h1>
<%= render "form", report: @report %>
<br>
<div class='d-flex justify-content-end gap-2'>
  <%= link_to "Mostrar esta noticia", @report, class: "btn btn-warning" %>
  <%= link_to "Inicio", reports_path, class: "btn btn-warning" %>
</div>
